<main class="container-lg">
  <div class="row my-5">
    <div class="d-lg-flex align-items-center">

      <!-- LINEA DE RECORRIDO DE VISTAS -->
      <nav aria-label="breadcrumb col-lg-3 py-5">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Todos los productos</li>
        </ol>
      </nav>

      <% if (products.length) { %>
        <!-- PAGINACIÓN SUPERIOR -->
        <%- include('../partials/pagination',{ pages, pageCurrent, categoryId,subcategoryId }) %>
          <% } %>
    </div>

    <div class="col d-flex gap-3 justify-content-center position-relative">


      <!-- FILTROS LATERALES -->
      <section
        class="d-none d-lg-block card border-1 col-lg-3 mb-3 position-sticky start-0 top-0 border-end-0 overflow-scroll"
        style="height: fit-content;">
        <div class="card-body vh-100 pb-5">
          <p class="fw-light"><a href="">filtro 1</a></p>
          <p class="fw-light"><a href="">filtro 2</a></p>
          <p class="fw-light"><a href="">filtro 3</a></p>
          <p class="fw-light"><a href="">filtro 4</a></p>
          <p class="fw-light"><a href="">filtro 5</a></p>
          <hr class="w-100 my-3">
          <p class="fw-light"><a href="">filtro 6</a></p>
          <p class="fw-light"><a href="">filtro 7</a></p>
          <p class="fw-light"><a href="">filtro 8</a></p>
          <p class="fw-light"><a href="">filtro 9</a></p>
          <p class="fw-light"><a href="">filtro 10</a></p>
          <p class="fw-light"><a href="">filtro 11</a></p>
          <hr class="w-100 my-3">
          <p class="fw-light"><a href="">filtro 12</a></p>
          <p class="fw-light"><a href="">filtro 13</a></p>
          <p class="fw-light"><a href="">filtro 14</a></p>
          <p class="fw-light"><a href="">filtro 15</a></p>
          <p class="fw-light"><a href="">filtro 16</a></p>
          <hr class="w-100 my-3">
          <p class="fw-light"><a href="">filtro 17</a></p>
          <p class="fw-light"><a href="">filtro 18</a></p>
          <p class="fw-light"><a href="">filtro 19</a></p>
          <p class="mb-5"><a href="">filtro 20</a></p>
        </div>
      </section>

      <!-- TARJETAS DE PRODUCTOS -->
      <section class="col-12 col-lg-9">

        <% if (products.length) { %>

          <div class="d-none d-lg-flex row">
            <% products.forEach( product=> { %>
              <div class="col-12 col-md-4 mb-3">
                <!-- Enviamos a la tarjeta todas las propiedades que tiene cada producto con un expred operator (...) y definimos si queremos las animaciones en la tarjeta -->
                <%- include('../partials/card',{product,animation:true}) %>
              </div>
              <% }) %>
          </div>



          <div class="d-block d-lg-none">
            <!-- Enviamos al slider el tipo de entidad con la que se relaciona y los productos para que se itere en base a la tarjeta definida -->
            <%- include('../partials/slider',{type:"products",products}) %>
          </div>


          <!-- PAGINACIÓN INFERIOR -->
          <% if (products.length) { %>
            <!-- PAGINACIÓN SUPERIOR -->
            <%- include('../partials/pagination',{ pages, pageCurrent }) %>
              <% } %>


                <% }else{ %>

                  <div class="text-center my-5">
                    <h3>No existen productos con la categoría seleccionada</h3>
                  </div>

                  <% } %>


      </section>

    </div>
  </div>

</main>