<%- include('./partials/head',{ title : 'Home' }) %>

  <body class="index">
    <%- include('./partials/header') %>
      <%- include('./partials/banner') %>
        <main class="py-0 py-lg-5">
        
        </main>
        <%- include('./partials/footer') %>
          <script src="/javascript/library/glider.js"></script>
          <script src="/javascript/glider.config.js"></script>
  </body>