<%- include('./partials/head',{ title : 'Carrito' }) %>

  <body>
    <%- include('./partials/header') %>

      <main class="container my-5" width="300px">

        <h3 class="text-center mb-5">CARRITO DE COMPRA</h3>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <table class="table table-sm table-lg text-center table-hover">
          <thead>
            <tr class="table-dark">
              <th scope="col"></th>
              <th scope="col">Productos</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Subtotal</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <a href="/productos/detalle/2">
                  <img src="images/guitar2.jpg" class="shadow" alt="" width="100px">
                </a>
              </td>
              <td>Titulo 1</td>
              <td>
                <div class="btn-group justify-content-center" role="group" aria-label="Basic example">
                  <button type="button" class="border-0 bg-transparent">-</button>
                  <input type="text" class="form-control w-50 text-center" value="1" min="1" max="100">
                  <button type="button" class="border-0 bg-transparent">+</button>
                </div>
              </td>
              <td>$2.300</td>
              <td>$2.300</td>
              <td>
                <button type="button" class="btn-close" aria-label="Close"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


        <section class="container">
          <section class="row col-12 gap-1 text-end">
            <div class="alert alert-light">
              <span>Total: </span><output>$2.300</output>
            </div>
            <span class="d-none d-lg-block col-5"></span>
            <button class="col-12 col-lg-2 btn btn-sm btn-success bg-gradient">Realizar Compra</button>
            <button class="col-12 col-lg-2 btn btn-sm btn-warning bg-gradient fw-bold">Vaciar Carrito</button>
            <button class="col-12 col-lg-2 btn btn-sm btn-danger bg-gradient">Volver</button>

          </section>
        </section>
      </main>
      <%- include('./partials/footer') %>
  </body>

  </html>