<%- include('./partials/banner',{ bannerHome }) %>
<main class="py-0 py-lg-5">
  <section class="py-3 py-lg-5">
    <h1 class="col-12 text-center">Destacados</h1>
    <%- include("./partials/slider.ejs",{type:"outstanding",products: productsOutstanding}) %>
  </section>
  <section class="py-3 py-lg-5">
    <h1 class="col-12 text-center">Ofertas Imperdibles</h1>
    <%- include("./partials/slider.ejs",{type:"offer",products: productsOffer}) %>
  </section>
</main>