<div class="glider-slide mx-2">
  <article class="card text-white bg-dark bg-gradient" style="min-width: 250px;max-width:300px">
    <div class="card-header">
      <img class="card-image-top" src="/images/guitarra3.jpg" alt="">
    </div>

    <div class="card-body">
      <h2 class="card-title">Guitarra Criolla</h2>
      <ul class="card-text">
        <li><span> Marca:</span> Freedom</li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><span> Modelo:</span> CG-300</li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><span> Tipo:</span> Clásica</li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><span> Color:</span> Rojo/Negro</li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><span> Precio:</span> $6.300</li>
      </ul>

      <div class="text-end">
        <a class="btn btn-dark bg-gradient" href="/products/detalle">Ver más</a>
      </div>
    </div>
  </article>
</div>