<article class="card border-0 shadow text-dark bg-light bg-gradient mx-auto" style="cursor: default;" style="min-width: 250px;max-width:300px">
  <div class="card-header position-relative p-0">
    <a class="d-block" href="/productos/detalle">
      <img class="card-image-top" src="/images/guitarra3.jpg" alt="">
    </a>
    <span type="button" class="position-absolute top-0 end-0 text-primary m-4" style="cursor:default;">
      <i class="fa-solid fa-heart fs-2"></i>
    </span>
  </div>

  <div class="card-body bg-white">
    <p class="card-title my-0 overflow-hidden text-decoration-line-through text-muted fs-6">$15.000</p>
    <div class="d-flex align-items-center gap-2">
      <h2 class="card-title my-0">$15.000</h2>
      <span class="text-success fs-5 fw-light">5% OFF</span>

    </div>
    <p class="text-success my-0 fs-6 fw-light">5x $1.250 sin interés</p>
    <p class="text-success my-0 fs-6">Envió gratis<span class="fst-italic"> <i
          class="fa-solid fa-bolt-lightning"></i>FULL</span></p>
    <p class="my-1 fs-6 text-muted fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio illum enim.
    </p>
  </div>
</article>