<footer class="footer bg-dark bg-gradient text-white py-2">
  <div class="text-center row">

    <section class="col-12 col-md-4">
      <h5>¿Dónde encontramos?</h5>
      <div >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.9823603360187!2d-58.72917458571586!3d-34.452595657022776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca20c117bf0e3%3A0xcd856576ed4b2105!2sTortugas%20Open%20Mall!5e0!3m2!1ses!2sar!4v1661692377253!5m2!1ses!2sar"
          width="50%" height="100" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>

    <section class="col-12 col-md-4">
      <h5>Medios de pago</h5>
      <div>
        <img width="50" src="/images/Payment/visa.jpg" alt="">
        <img width="50" src="/images/Payment/mastercard.jpg" alt="">
        <img width="50" src="/images/Payment/mercadopago.jpg" alt="">
      </div>
    </section>

    <section class="col-12 col-md-4">
      <h5><a class="link-light" href="/info/contacto">Contacto</a> | Redes</h5>
      <div class="">
        <a class="link-light mx-4" href="">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a class="link-light mx-4" href="">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a class="link-light mx-4" href="">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
    </section>
  </div>
</footer>