<header id="header" class="header">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
      <a class="col-2" href="/"><img class="w-50 mask-circle" src="/images/logo.jpeg"></a>

      <!-- BUSCADOR -->
      <form class="d-flex justify-content-center form-group py-0 col col-lg-6" action="/buscar" method="get">
        <input class="border-0 me-2 form-control" type="search" style="outline: none;" placeholder="Buscar..."
          aria-label="Search" name="keyword">
        <button class="btn btn-dark bg-gradient" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <button class="navbar-toggler bg-dark bg-gradient" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 z-index-2">

          <!-- HOME -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

          <!-- CATEGORÍAS -->
          <li class="nav-item dropdown text-start">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu dropdown-menu-end bg-dark dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/productos/1">Guitarras</a></li>
              <li><a class="dropdown-item" href="/productos/2">Violines</a></li>
              <li><a class="dropdown-item" href="/productos/2">Bajos</a></li>
              <li><a class="dropdown-item" href="/productos/2">Accesorios</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/productos">Todos los productos</a></li>
            </ul>
          </li>

          <!-- CONTACTO -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/info/contacto">Contactarnos</a>
          </li>

          <!-- CARRITO DE COMPRA -->
          <li class="nav-item">
            <a href="/carrito" aria-current="page" class="nav-link position-relative">
              <i class="fa-solid fa-cart-shopping"></i>
              <!-- Si esta logueado mostrar esto comentado -->
              <!-- <span class="position-absolute top-50 start-0 translate-middle badge rounded-pill bg-success">
                2
                <span class="visually-hidden">unread messages</span>
              </span> -->
            </a>
          </li>

          <!-- LINKS USUARIO -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-user position-relative">
                <span
                  class="d-block position-absolute top-100 start-0 translate-middle badge rounded-fills bg-danger bg-gradient">

                </span>
              </i>

              <!-- Si esta logueado mostrar esto comentado -->
              <!--    <i class="rounded-circle">
                <img width="40px" height="40px" class="rounded-circle" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png"
                  alt=""> -->
              </i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end bg-dark dropdown-menu-dark z-index-2 ps-3"
              aria-labelledby="navbarDropdown">
              <li class="nav-item text-end">
                <button class="nav-link bg-transparent border-0">
                  <i class="fa-solid fa-toggle-on"></i> Modo visual
                  <!--  <i class="fa-solid fa-toggle-off"></i> -->
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link bg-transparent border-0">
                  <i class="fa-solid fa-earth-americas"></i>
                  Lenguaje
                </button>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/usuario/ingresar" tabindex="-1">Iniciar Sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/usuario/registrar" tabindex="-2">Registrarse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/usuario/salir" tabindex="-4">Mi Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/usuario/salir" tabindex="-4">Mis Compras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/usuario/salir" tabindex="-5">Cerrar Sesión</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/administrador" tabindex="-6">Administrar</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>