<div class="glider-contain">
  <div class="glider">
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
  </div>

  <button aria-label="Previous" class="glider-prev">«</button>
  <button aria-label="Next" class="glider-next">»</button>
  <div role="tablist" class="dots" id="dots"></div>
</div>