<main class="container">
  <div class="row justify-content-center">
    <div class="card col-12 col-lg-4">
      <form action="/password/recuperar">
        <div class="card-body row justify-content-center gap-3">
          <h2 class="card-title text-center mt-5">Recuperar contraseña</h2>

          <!-- ENVIAR EMAIL -->
          <div class="form-group col-12 col-lg-10">
            <label class="form-label px-3 fw-normal" for="email">Email</label>
            <div class="position-relative" style="height: fit-content;">
              <input type="email" class="form-control" id="email" name="email" autocomplete="off">
            </div>
            <p class="form-text text-muted">Ingresa el email con el que se registro</p>
          </div>

          <!-- OLVIDE CONTRASEÑA ANTERIOR -->
          <div class="col-12 text-end mt-2">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>

        </div>
      </form>

    </div>
  </div>

</main>